<div class="main">
  <table class="table table-hover table1">
    <tr>
      <th style="font-family:Serif,Georgia">
        <p style="font-size:25px">Batch Execution
        <p>
      </th>

    </tr>
    <tr>
      <td style="font-size:15px">User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
    <tr>
      <td>User upload Batch
        <p style="font-size:12px">{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST-{{ kunal | date:'dd/M/yyyy,h:mm a' }} EST
        </p>
      </td>

    </tr>
  </table>
</div>

<div class="sidenav">
  <table class="table table-hover table2">
    <tr>

      <th>
        <p>Filters</p>
      </th>

    </tr>

    <tr>
      <td>
        <div>
          <table>
            <tr>
              <th>
                Status
              </th>
            </tr>
            <tr style="border:0">

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" >
                       Failure
                    </label>

              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                      Success
                    </label>

              </div>
              <br>
              <br>
            </tr>
            <tr style="border:0">
              <th>
                Output
              </th>
            </tr>
            <tr style="border:0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" >
                       SFTP
                    </label>

              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                      Email
                </label>

              </div>
              <br>
              <br>
            </tr>

            <tr style="border:0">
              <th>
                Execution Date
              </th>
            </tr>

            <tr style="border:0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" >
                       Today
                    </label>

              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                      Yesterday
                </label>

              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" >
                       Current Week
                    </label>

              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" >
                       Last Week
                    </label>

              </div>
            </tr>
            <br>
            <button type="button" class="btn btn-secondary">APPLY</button>
            <button type="button" class="btn btn-light">CLEAR</button>
          </table>


        </div>
      </td>
    </tr>
  </table>
</div>